
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
body {
	overflow-x: hidden;
	font-family: 'Arial';
	color: #505962;
	height: 100%;
	
}

.offset:before {
	height: 3.8rem;
	margin-top: -3.8rem;
	content: "";
	display: block;
}
/*-- Nav bar Style --*/

.navbar {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .6rem;
	letter-spacing: .1rem;
	background: rgba(0, 0, 0, .1)!important;
}

.navbar-brand img {
	height: 2rem;
	margin-right: 400px;
}
.navbar-nav li {
	padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
	color: white;
	padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #a2623f;
}

.main-menu {
	list-style: none;
	float: right;
	padding-right: 220px;
}

.main-menu li {
	display: inline-block;
}

.main-menu li a {
	display: block;
	font-size: 16px;
	color: #fff;
	margin-right: 40px;
	padding: 9px 0;
	margin-top: 20px;

}

.main-menu li:last-child a {
	margin-right: 0;
}

/*--Slider--*/

.carousel-item {
	height: 100vh;
}
.carousel-caption {
	position: absolute;
	top: 38%;
	text-transform: uppercase;
	width: 100;
	right: 0;
	left: 0;
}
.carousel-caption h1 {
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 1rem;
}
.carousel-caption h3 {
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem; 
}
.btn-lg {
	border-width: medium;
	border-radius: 0;
	font-size: 1.1rem;\
}
/*end of carousel*/

/*contact image */
.slide-num-holder {
	position: absolute;
	top: 50%;
	right: 101px;
	z-index: 99;
	color: #fff;
	font-weight: 500;
	margin-top: -10px;
	font-size: 16px;
}


.contact-link {
	position: absolute;
	left: 42px;
	bottom: 40px;
	z-index: 99;
}



.contact-link p {
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	margin-bottom: 180px;
}

.contact-link img {
	width: 71px;
	height: 71px;
	border-radius: 50%;
}
 .{
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/*green*/
 #bg-green{
 background-color:#00cc99; 
 background-size:cover;
 width:100% ;
 height:763px;

 }



.bg-image {
  /* The image used */
  background-image: url("image/background1.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
 
footer {
	background-color: #40474e;
	color: white;
	padding: 2rem 0 3rem;
	margin-top: 1rem;
}
footer img {
	height: 3rem;
	margin: 1.5rem;
}
footer a {
	color: white;
}
footer svg.svg-inline--fa {
	font-size: 1.6rem;
	margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
	color: #1ebba3;
}
hr.socket {
	border-top: .2rem solid #a2623f;
	width: 100%;
}

/*--media queries--*/

@media (max-width: 767px) {
	.carousel-caption h1 {
	font-size: 2.3rem;
	letter-spacing: .15rem;
	padding-bottom: .5rem;
}
.carousel-caption h3 {
	font-size: 1.2rem;
	padding-bottom: 1.2rem; 
}
.btn-lg {
	
	font-size: 1rem;
}
}













/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/